<div class="center jumbotron">
	<h1>MHS Enrollment Site</h1>

	<h2>
		Click the link below to submit an enrollment.
	</h2>

	<%= link_to "Enrol", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= image_tag("mhs.PNG", alt: "MHS Logo", size: "100x100") %>