<% provide(:title, 'Enrol') %>
<h1>Enrol</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= %>
        <h2>Caregiver</h2>
      <% %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <!-- <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %> -->

      <%= f.label :caregiver_contact_number, "Caregiver contact number" %>
      <%= f.text_field :caregiver_contact_number, maxlength: 10, class: 'form-control' %>

      <%= %>
        <h2>Student</h2>
      <% %>

      <%= f.label :student_family_name, "Family name" %>
      <%= f.text_field :student_family_name, class: 'form-control' %>

      <%= f.label :student_first_given_name, "First given name" %>
      <%= f.text_field :student_first_given_name, class: 'form-control' %>

      <%= f.label :student_second_given_name, "Second given name" %>
      <%= f.text_field :student_second_given_name, class: 'form-control' %>

      <%= f.label :student_gender, "Gender" %>
      <%= f.select :student_gender, [["Male"], ["Female"]], class: 'form-control' %>

      <%= f.label :student_date_of_birth, "Date of birth" %>
      <%= f.date_field :student_date_of_birth, max: Date.today, min: 18.years.ago, class: 'form-control' %>

      <%= f.label :student_phone_number, "Phone number" %>
      <%= f.text_field :student_phone_number, maxlength: 10, class: 'form-control' %>

      <%= f.label :student_aboriginality, "Aboriginality" %>
      <%= f.select :student_aboriginality, [["None"], ["Aboriginal"], ["Torres Strait Islander"], ["Both"]] , class: 'form-control' %>

      <%= f.label :student_lote, "Any other languages other than english spoken at home?" %>
      <%= f.select :student_lote, [["False", false], ["True", true]] , class: 'form-control' %>

      <%= f.label :student_lote_first_language, "First language" %>
      <%= f.text_field :student_lote_first_language, class: 'form-control' %>

      <%= f.label :student_lote_second_language, "Other language" %>
      <%= f.text_field :student_lote_second_language, class: 'form-control' %>

      <%= f.label :student_year_entering, "Year entering" %>
      <%= f.select :student_year_entering, [7,8,9,10,11,12] , class: 'form-control' %>

      <%= f.submit "Enrol now", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>