<%= provide(:title, "Enrollments") %>

<h1>Enrollment List</h1>

<% @users.each do |user| %>
    <li class="test">
        <%= link_to "#{user.student_first_given_name} #{user.student_family_name} - Year #{user.student_year_entering}", user %>
    </li>
<% end %>