<%= provide(:title, @user.student_first_given_name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= @user.student_first_given_name %>
			</h1>

			<% for attribute in @user.attributes.keys %>
			  <p><em><strong><%= attribute.humanize.upcase %></strong></em>: <%= @user.attributes[attribute].to_s %></p>
			<% end %>

		</section>
	</aside>
</div>