<footer class="footer">
	<small>
		Merewether High School Enrollment Site v
	</small>

	<small>
		<%= SampleApp::Application::VERSION %>
	</small>

	<nav>
		<ul>
			<li><%= link_to "School View", school_path %></li>
			<!-- <li><%= link_to "About",	about_path  %></li>
			<li><%= link_to "Contact",	contact_path  %></li>
			<li><a href="#">News</a> -->
		</ul>
	</nav>
</footer>